.layout-container { display: flex; min-height: 100vh; font-family: sans-serif; }
.sidebar { width: 250px; background: #5353db; color: white; display: flex; flex-direction: column; padding: 20px; }
.logo { color: #4ecca3; margin-bottom: 40px; }
.menu { flex-grow: 1; display: flex; flex-direction: column; gap: 15px; }
.menu a { color: #eee; text-decoration: none; font-size: 1.1rem; }
.logout-btn { background: #2e069a; color: white; border: none; padding: 10px; cursor: pointer; border-radius: 5px; }
.content-area { flex-grow: 1; background: #f4f4f9; padding: 40px; overflow-y: auto;border-radius: 4px; }